body#template-product {
	/**background-color: var(--body-background); **/
}
.danhgiasao .sapo-product-reviews-badge {
	cursor: pointer;
	min-height: 18px;
}
.product-detail-left .slickthumb_relative_product_1, .product-detail-left .large-image {
	float: left;
}
.product-detail-left .slickthumb_relative_product_1 {
	width: 100px;
	padding-right: 15px;
}
.product-detail-left .col_large_default {
	width: calc(100% - 100px);
	/*padding-left: 5px;*/
}
.product-detail-left .col_large_full {
	width: 100%;
}
.large-image img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
}
#gallery_1:not(.slick-slider) {
	display: flex;
	align-items: center;
	overflow: hidden;
}
#gallery_1:not(.slick-slider) .item {
	width: 100%;
	flex: 0 0 100%;
	text-align: center;
}
#gallery_1:not(.slick-slider) img {
	content-visibility: initial !important;
	text-align: center;
}
#gallery_1:not(.slick-slider) img.lazyload:not(.loaded) {
	display: none;
}
#gallery_1 .slick-arrow {
	background: #fff;
	border: none;
}
#gallery_1 .icon-button-play {
	width: 64px !important;
}
#gallery_02 {
	/**.item.slick-slide.slick-current.slick-active{
	border-color: var(--primary-color);
}
	**/
}
#gallery_02:not(.slick-slider) {
	display: flex;
	align-items: center;
	overflow: hidden;
}
#gallery_02:not(.slick-slider) .icon-button-play {
	display: none;
}
#gallery_02:not(.slick-slider) .item {
	width: 102px;
	flex: 0 0 102px;
	border: 1px solid transparent;
	text-align: center;
	margin: auto;
}
@media (max-width: 767px) {
	#gallery_02:not(.slick-slider) .item {
		width: 80px;
		flex: 0 0 80px;
	}
}
#gallery_02:not(.slick-slider) .item + .item {
	margin-left: 10px;
}
#gallery_02:not(.slick-slider) img {
	max-height: 80px;
	object-fit: contain;
}
#gallery_02 .item.slick-slide.slick-slide {
	margin: 0 0 5px; 
	border-radius: 4px;
	overflow: hidden;
	border: 1px solid transparent;
}
#gallery_02 .item.slick-slide.slick-current.slick-active {
	//	border-color: var(--primary-color);
}
#gallery_02 .item.slick-slide {
	position: relative;
	height: 122.5px;
}
#gallery_02 .item.slick-slide img {
	width: auto;
	max-height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 2px;
}
.fixed-layout .product-tabs{
	margin-top:30px
}
.fixed-layout .product-tabs .container{
	padding:0
}
@media(min-width: 992px){
	.fixed-layout .product-detail-left{
		position: sticky;
		top: 80px;
		height: calc(100vh + 65px + 30px);
		padding-right: 30px
	}

}
.product-detail-left #gallery_02 + .share-group{
	display: none !important;
}
@media(max-width: 767px){
	.product-detail-left .slickthumb_relative_product_1{
		display:none!important
	}
	.product-detail-left .col_large_default{
		width: 100%
	}

	.product-detail-left .slick-dots {
		display: flex !important;
		justify-content: center;
		height: auto;
		border-radius: 0;
		width: auto;
		margin: 0
	}
	.product-detail-left .slick-dots li {
		display: inline-block;
		width: 100%;
		display: -ms-flexbox !important;
		display: flex !important;
	}
	.product-detail-left .slick-dots li button {

		width: 100%;
		border-radius: 0;
		margin: 0;
		padding: 0;
		border: none;
		height: 4px;
	}
	.product-detail-left .slick-dots li:not(.slick-active) button{
		background: #efefef;
		opacity: .5;


	}	
	.product-detail-left{
		padding: 0
	}
	.product-detail-left.thumbs-on-mobile--show{
		display: flex;
		flex-direction: column;
	}
	.product-detail-left.thumbs-on-mobile--show .slickthumb_relative_product_1 {
		display: block !important;
		order: 1;
		width: 100%;
		padding: 0;
		margin-top: 10px;
	}
	.product-detail-left.thumbs-on-mobile--show .large-image .share-group{
		display: none !important;
	}
	.product-detail-left .slick-dots li{
		height: 10px;
		width: 10px;
		background: #efefef;
		border-radius: 50%;
		margin: 5px;
	}
	.product-detail-left .slick-dots li button {
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}
}

/** product right **/
.product-policises {
	font-size: 14px;
	display: flex;
	border-top: 1px dashed #ECECEC;
	justify-content: space-between;
	column-gap: 5px;
}
.product-policises .media {
	flex: 1;
}
@media (max-width: 767px) {
	.product-policises {
		flex-direction: column;
		font-size: 14px;
	}
	.product-policises::-webkit-scrollbar {
		display: none;
	}
	.product-policises .media {
		flex: 0 0 100%;
		max-width: 100%;
		padding-top: 10px;
	}
}
.product-policises-wrapper {
	margin-top: var(--block-spacing);
	padding: var(--block-spacing) 0;
}
.product-policises .media > div:not(.media-body) {
	width: 24px;
	height: 24px;
}
#content {
	overflow: hidden;
	word-break: break-word;
}
#content img {
	max-width: 100% !important;
	height: auto !important;
}
#content iframe, #content video {
	max-width: 100% !important;
}
.product-content .heading-bar {
	border-bottom: 1px solid var(--primary-color);
	margin-bottom: 15px;
}
.product_getcontent {
	max-height: var(--content-height);
	overflow: hidden;
}
.ega-pro__seemore {
	position: relative;
}
.ega-pro__seemore.show:before {
	content: none;
}
.ega-pro__seemore:before {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	bottom: 100%;
	height: 100px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 17%, #fff 93.12%);
}
/** Related pro **/

@media (max-width: 768px) {
	.product_related.row {
		flex-wrap: nowrap;
		overflow: auto;
	}
	.product_related.row::-webkit-scrollbar {
		display: none;
	}
	.product_related.row {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}
	.product_related.row .col-12 {
		padding: 5px;
	}
}
#cr-addon-pro, .crbtn-modal.crbtn-modal---toast .crbtn-modal__body {
	font-size: 14px !important;
	line-height: 21px !important;
}
.crbtn-modal__header {
	font-size: 1rem !important;
	font-weight: 500 !important;
	line-height: 1.5 !important;
	color: var(--text-color) !important;
}
.crbtn-modal__left {
	border: none !important;
	border-radius: 0px !important;
}
.ega-cr-addon .ega-menu__item.disabled {
	opacity: 0.6 !important;
}
.bpr-products-module-heading {
	padding-top: 5px;
	border-bottom: 1px solid #eee;
}
.sapo-product-reviews-module .bpr-products-module-heading .bpr-products-module-title {
	padding-bottom: 10px !important;
}
@media (max-width: 991px) {
	#ega-sticky-addcart {
		display: none;
	}
}
#ega-sticky-addcart .productAnchor_horizonalNavs {
	align-items: center;
	background: #fff;
	top: 0 !important;
	transition: all 0.5s ease;
	z-index: 99;
	width: 100%;
	padding: 5px 0px;
}
#ega-sticky-addcart .productAnchor_horizonalNav {
	display: flex;
	align-items: center;
}
#ega-sticky-addcart .product_info_image {
	width: 100px;
	height: 100px;
	margin-right: 10px;
	position: relative;
}
#ega-sticky-addcart .product_info_image img {
	width: auto;
	max-height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
#ega-sticky-addcart .product_info_name {
	line-height: 1.1;
	line-height: 1.4;
	color: #191919;
	margin-right: 20px;
	font-size: 16px;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 4px;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	white-space: initial;
	overflow: hidden;
	padding: 2px 0;
}
#ega-sticky-addcart .product-price {
	font-weight: bold;
	color: var(--price-color);
}
#ega-sticky-addcart .product_info_buttons {
	display: grid;
	margin-left: auto;
	align-items: center;
	grid-template-columns: 1fr 235px 190px;
	grid-gap: 15px;
}
#ega-sticky-addcart .product_info_buttons .input_number_product {
	margin: 0;
}
#ega-sticky-addcart .product_info_buttons .form-product {
	grid-column: 3;
}
#ega-sticky-addcart .btn_base {
	height: 40px;
	background: var(--cta-color);
	font-size: 14px;
	outline: none;
	box-shadow: none;
	padding: 3px 10px;
	color: #fff;
	line-height: 1.25;
	border: none;
}
#ega-sticky-addcart .product_info_buttons .btn.btn_traGop {
	margin-left: 10px;
	background: #e81313;
	color: #fff;
}
#ega-sticky-addcart .selector-wrapper label {
	display: none;
}
#ega-sticky-addcart .selector-wrapper select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	word-wrap: normal;
	border-radius: 5px;
	height: 30px;
	border-color: #ccc;
	margin: 0;
	width: 100%;
	padding: 0 4px;
	font-size: 14px;
	padding-right: 15px;
	background: none;
	border: 1px solid #ccc;
}
#ega-sticky-addcart .selector-wrapper {
	position: relative;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 0px !important;
	/*max-width: 115px;*/
}
#ega-sticky-addcart .selector-wrapper:after {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	top: 12px;
	right: 4px;
	border-top: 6px solid;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}
#ega-sticky-addcart .product_info_buttons .btn.action-buy span {
	display: block;
	width: 100%;
	text-align: center;
}
#ega-sticky-addcart .button_actions {
	margin-bottom: 0px;
}
.coupon_item {
	padding: 7px !important;
}
.coupon_item .coupon_body .coupon_title {
	font-size: 14px !important;
}
.coupon_item .coupon_body {
	padding: 5px 5px 5px 10px !important;
}
.coupon_item .coupon_body button span {
	line-height: 22px !important;
	height: 22px !important;
}
.coupon_item .coupon_body .coupon_desc {
	padding-bottom: 10px !important;
}
.flashsale__header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.details-product .flashsale {
	padding: 0;
	border-radius: 4px;
	margin-top: 30px;
}
.details-product .flashsale__title h5 {
	font-size: 14px;
	font-weight: 700;
	color: #F66566;
}
.details-product .flashsale__countdown-label {
	font-size: 14px;
	position: relative;
}
.flashsale__header,
.flashsale__product{
	padding: 5px 8px;
}
.details-product .flashsale__bottom{
	padding: 0px
}
.details-product .flashsale__bottom .flashsale__label{
	font-size: 14px;
}
.flashsale__product{
	background: var(--flashsale-bg);
	border-radius: 0 0 4px 4px;
}
.details-product .ega-badge-ctd__item + span {
	display: none;
}
.details-product .ega-badge-ctd__item {
	font-size: 13px;
}
.details-product .ega-badge-ctd > div:not(.ega-badge-ctd__colon) {
	width: 22px;
	height: 21px;
}
.details-product .flashsale__header{
	background: #FFEFEF;
	height: 34px;
	border-radius: 4px 4px 0 0;
}
.details-product .flashsale__countdown-wrapper{
	padding-top: 0;
}
@media (max-width: 575px) {
	.details-product .flashsale__title {
		text-align: center;
		margin-top: 0;
		margin-bottom: 0;
	}
	.details-product .flashsale__countdown-wrapper {
		flex-direction: row;
	}
	.details-product .flashsale__countdown-label {
		display: block!important;
	}
}
@media (max-width: 1024px) {
	.product-sidebar-title {
		display: flex;
		overflow: auto;
	}
	.item_product_main.product--media {
		margin-bottom: 0.75rem;
		flex: 0 0 40%;
	}
}
@media (max-width: 767px) {
	.product-sidebar-title {
		flex-wrap: wrap;
	}
	.item_product_main.product--media {
		flex: 0 0 100%;
	}
}
.filter-item-toggle {
	margin: auto;
	color: var(--primary-color);
}
@media (min-width: 768px) {
	.overflow-item:not(.show) {
		display: none;
	}
}
.filter-item-toggle .fas {
	transitions: all 0.3s ease-out;
}
.filter-item-toggle.show {
	display: inline-block;
}
.filter-item-toggle.show .fas {
	transform: rotate(180deg);
}
.pp_gallery {
	display: none !important;
}
#stock-notify-form {
	max-width: 400px;
}
#stock-notify-form .btn {
	font-size: 14px;
}
.stock-notify-title {
	color: var(--primary-color);
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 8px;
	display: block;
}
div#stock-notify {
	padding: 15px 20px;
	background: #eef2f8;
	border-radius: 4px;
	margin-bottom: 20px;
}
.product-trustbadge .title-menu {
	border-bottom: 1px dashed var(--border-color);
	padding-bottom: 10px;
}

.product-right > div:not(:first-of-type) {
	margin-top: 15px;
}
.product-related-blog h2 {
	border-radius: 6px 6px 0 0;
	padding: 11px;
}
.fb_iframe_widget_fluid_desktop {
	width: 100%!important;
}
@media(max-width: 320px){
	.product-detail-left .share-group{
		flex-wrap: wrap;
		/*align-items: flex-start !important;*/
		justify-content: left !important;
	}
	.product-detail-left .share-group .share-group__list{
		display: block;
		margin-top: 5px;
	}
}

.details-product .flashsale__product .flashsale__progressbar{
	height: 5px;
	line-height: 5px;
	margin: 5px 0;
	border-radius: 2px;
	margin-bottom: 0;
}

.details-product .flashsale__product{
	background: none;
	padding: 10px 8px;
}
.ega-share-box{
	display: flex;
	margin-top: 25px;
}
.ega-share-box > div{
	margin-right: 30px;

}
.ega-share-box .pd-ac-share{
	display: grid;
	grid-template-columns: 25px 1fr;
	grid-gap: 5px;
	align-items: center;
	cursor: pointer;
}
.ega-share-box > div .icon{
	font-size: 30px;
}
.ega-buy-together{
	margin-top: 30px;
}
.ega-buy-together .together-body{
	border: 1px solid #000;
	border-radius: 5px;
	margin-top: 18px;
	padding: 20px 20px 10px;
}
.together-products{
	display: flex;
}
.together-item{
	width: 120px;
	margin-right: 20px;
}
.icon-buy-plus{
	margin-right: 20px;
	display: flex;
	align-items: center;
}
.variant-box{
	margin-top: 20px;
}
.variant-box .variant-select-item{
	display: grid;
	grid-template-columns: 34px max-content;
	grid-gap: 5px;
	margin-bottom: 15px;
}
.variant-box .buy-check{
	grid-row: 1 / span 2;
}
.variant-box .buy-check .icon-check{
	position: relative;
	display: inline-block;
	height: 24px;
	width: 24px;
	border-radius: 2px;
	border: 1px solid;
}
.variant-box .buy-check .icon-check:after {
	border: 0 solid #e5e7eb;
	border-bottom-width: 2px;
	border-color: #fff;
	border-right-width: 2px;
	content: "";
	display: none;
	height: 12px;
	left: 9px;
	position: absolute;
	top: 5px;
	transform: translate(0,0) rotate(45deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
	width: 6px;
}
.variant-box .buy-check input:checked ~ .icon-check{
	background: #000;
}
.variant-box .buy-check input:checked ~ .icon-check:after {
	display: block;
}
.variant-box .main-product .buy-check {
	opacity: .4;
	pointer-events: none;
}
.variant-box .pd-name{
	grid-column: 2;
}
.variant-box .togeter-variants{
	padding-right: 25px;
	grid-column: 2;
	color: #666;
}
.variant-box .togeter-variants select{
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	border: none;
}
.together-action{
	border-top: 1px solid #eee;
	padding-top: 20px;
}
.together-total span{
	color: #da3f3f;
	font-size: 24px;
	font-weight: 700;
}
.buy-multi-item {
	grid-column: 1 / -1;	
	background-color: var(--addtocart-bg);
	color: var(--addtocart-text-color);
}
.buy-multi-item:hover {
	color: var(--addtocart-text-color);
	opacity: .8;
}
.slider-box{
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 60px;
	margin-bottom: 20px;
}
.size-heading{
	margin-bottom: 20px;
}
.slider-box .slider-title{
	grid-column: 1 / span 2;
}
.slider-input{
	-webkit-appearance: none;
	width: 100%;
	border-radius: 5px;
	outline: 0;
	opacity: .7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	height: 6px;
	background: #fff;
	border: 1px solid #d9d9d9;
}
.size-fit{
	gap: 10px;
}
.size-fit .fit-item{
	border: 1px solid #eee;
	width: 33.33333333%;
	padding: 5px 10px;
	border-radius: 999px;
	text-align: center;
	cursor: pointer;
}
.size-fit .fit-item:hover, .size-fit .fit-item.actived{
	border-color: var(--addtocart-bg);
	color: var(--addtocart-bg);
}
#ega-modal-sizes .modal-body {
	padding: 2rem;
}

#result_size{
	font-weight: bold;
	margin-top: 25px;
}
#result_size span{
	background-color: var(--addtocart-bg);
	color: var(--addtocart-text-color);
	font-size: 14px;
	border-radius: 999px;
	padding: 5px 25px;
}
.open-size-modal{
	text-decoration: underline !important;
	font-weight: normal;
}
.swatch + .swatch, .open-size-modal + .swatch {
	margin-top: 1rem;
}

/** product tab **/
.product-tabs .tabs  {
	justify-content: center;
	margin-bottom: 45px;
	gap: 30px;
	border-bottom: 1px solid #eee
}
.product-tabs  .tabs li{
	white-space: normal
}
.accordion-button{
	display:none;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 15px;
	padding-bottom: 15px;
	cursor: pointer
}
.details-pro .product-tabs .tabs-title {
	display: none !important;
}
.details-pro .accordion-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.details-pro .accordion-item {
	display: block !important;
	background: #fff
}
.details-pro .accordion-item .accordion-button {
	border-bottom: 1px solid rgb(0 0 0 / 8%);
}
.details-pro .accordion-item.current .accordion-button {
	border-bottom: 1px solid rgb(0 0 0 / 100%);
}
.details-pro .accordion-item .accordion-content {
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	transition: opacity 0.2s ease-out, max-height 0.3s ease-out;
}
.details-pro .accordion-item.current .accordion-content {
	max-height: var(--max-height, none);
	overflow: visible;
	opacity: 1;
	margin-bottom: 30px;

}
.details-pro .accordion-button i {
	transition: transform 0.3s ease-out;
}
.details-pro .accordion-item .accordion-button i {
	transform: rotate(90deg);
}
.details-pro .accordion-item.current .accordion-button i {
	transform: rotate(270deg);
}

@media(max-width: 767px){

	.product-tabs .tabs-title {
		display: none!important
	}
	.accordion-button{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.accordion-item{
		display: block!important
	}
	.accordion-item .accordion-content{
		max-height: 0;
		overflow: hidden;
		opacity: 0;
		transition: opacity 0.2s ease-out, max-height 0.3s ease-out;

	}
	.accordion-item.current .accordion-content{
		max-height: var(--max-height, none);
		overflow: visible;
		margin-bottom: 30px;

		opacity: 1

	}
	.accordion-button i{
		transition: transform .3s ease-out;
	}
	.accordion-item.current .accordion-button i {
		transform: rotate(180deg)
	}
}

/** Review section **/
.card h2.starbap-rev-widg__title {
	color: var(--text-color);
	font-size: 20px;
	font-weight: bold;
	margin: 0px;
	line-height: 1.2;
}
.card .title-bl h2 {
	color: var(--text-color);
	font-size: 20px;
	font-weight: bold;
	margin: 0px;
	line-height: 1.2;
}
.card .starbap-rev-widg {
	margin: 0;
	padding: 0;
	border: none;
}
@media (max-width: 767px) {
	.hrv-product-reviews-summary{
		width: 100%!important;
	}
	.product-reviews-summary-actions{
		float: none!important
	}
	.hrv-product-reviews-form{
		width: 100%!important;
		margin-top: 1rem
	}
}
.product-images .item.hidden{
	width: 0!important
}
#hrv-product-reviews .title-bl{
	display: none;
}
#hrv-product-reviews #btnnewreview,
#hrv-product-reviews #btnSubmitReview{
	background-color: var(--addtocart-bg);
	color: var(--addtocart-text-color);
	border-radius: 5px;
}
@media screen and (max-width: 676px){
	.details-pro.bg-white.py-3.mt-3.mt-lg-0.px-3 {
		margin-top: 0px !important;
		padding-top: 0px !important;
	}
}