/* Mobile */

@media (max-width: 417px) {
    .trusted-header {
        font-size: 18px;
    }
    .trusted-description {
        font-size: 14px;
    }
}

@media (max-width: 767px){
    .product-card {
        transform: scale(0.8);
    }

    .error-img img {
        max-width: 100%;
    }
    
    .navigate-tab {
        display: none!important;
    }

    .filter-order {
        margin-top: 1rem!important;
    }

    .filter-order a {
        font-size: 13px!important;
    }

    #inp-order-code-filter {
        display: none!important;
    }

    
}

/* Tablet */
@media (min-width: 768px) {
    
}


/* Small Monitor PC */
@media (min-width: 1200px) and (max-width: 1399px){
    .product-card{
        transform: scale(0.85);
    }
}


@media (max-width: 992px){
    .trusted-header {
        font-size: 16px;
    }
    .trusted-description {
        font-size: 14px;
    }

    
    .filter-category,
    .colection-title-tag,
    .cart-total-area {
        display: none!important;
    }

    main .colection  {
        margin-top: 1rem!important;
    }
}


/* Small Monitor PC */
@media (min-width: 992px) and (max-width: 1199px){
    .trusted-header {
        font-size: 18px;
    }
    .trusted-description {
        font-size: 14px;
    }
    
}

/* PC */
@media (min-width: 1400px) {

}

/* Tablet & Mobile */
@media (max-width: 1023px) {
    .announce-phone,
    .announce-login {
        display: none;
    }
    
}

@media (max-width: 991px) {
    .slide-img,
    .logo-shop,
    #cart-love{
        display: none!important;
    }

}   

/* Monitor < 1400 */
@media (max-width: 1399px) {
    .trusted-icon {
        display: flex;
        justify-content: center;
        align-items: center;
      }

    .icon-trusted {
        display: block; /* Optional: Ensures the image is treated as a block element */
        max-width: 100%; /* Optional: Limits the image width to its container */
        max-height: 100%; /* Optional: Limits the image height to its container */
    }

    .trusted-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      
      .trusted-header, .trusted-description {
        margin: 0; /* Optional: Removes default margin */
      }
}


/* MIn 992  */
@media (min-width: 992px){

    #btn-display-filter,
    .slide-img-mobile,
    .mobile-menu-item {
        display: none!important;
    }


}
/* MIn 992  */
@media (min-width: 1200px){
    .trusted-header {
        font-size: 18px;
    }

}

@media (max-width: 768px) {
    #table-cart {
        width: 100%;
      }
      
      .table-header-title th {
        border-bottom: none;
      }
      
      .cart-table tbody {
        display: block;
      }
    
    .cart-item {
        display: grid;
        grid-template-rows: 50px;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5px;
      }
      
      .cart-item-img {
        grid-row: 1 / span 2;
        grid-column: 1 / span 2;
      }
      
      .cart-item-name {
        grid-row: 1;
        grid-column: 2 / span 2;
      }
      
      .cart-item-quantity {
        grid-row: 2;
        grid-column: 2 / span 2;
      }
      
      .cart-item-price {
        grid-row: 1 / span 2;
        grid-column: 4;
      }
      
      .cart-item-img img {
        width: 80px;
      }
      
      .cart-item-quantity .quantity {
        display: flex;
        align-items: center;
      }
      
      
      .cart-item-price {
        text-align: end;
      }
    
      .table-header-title th:nth-child(3),
      .table-header-title th:nth-child(4) {
      display: none;
    }
}


@media (max-width: 425px) {
    .cart-item {
        grid-template-rows: 60px;
    }
}

@media (max-width: 575.98px) {
    .colection-title,
    #list-card-order .price-tab,
    .vertical-galery {
        display: none!important;
    }

    .btn-remove-item,o
    .product:hover img,
    .product-overlay{
        opacity: 1;
    }
    
    #list-card-order .price-mobile {
        display: block!important;
    }
    
    
}

@media (min-width: 576px) {
    .horizontal-galery {
        display: none!important;
    }
}