.img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .img-box img {
    margin-bottom: 10px;
  }
  
  .img-box button {
    position: absolute;
    display: none;
    left: 68px;
    top: 0px;
    font-size: 10px;
  }

  .btn-view,
  .img-box button:hover {
    cursor: pointer;
  }

  .img-box:hover button{
    display: block;
  }
  
  .btn-remove-item {
    cursor: pointer;
    color: red;
  }


  .rating-product-name:hover {
    color: #F76B6A!important;
  }

  @media(max-width: 575.98px) {
    .btn-order {
      margin-top: 10px;
    }
  } 
  