* {
    font-family: 'Poppins', sans-serif
}

.announcement-bar {
    box-sizing: border-box;
    display: block;
    height: 2.5rem;
}

.announcement-text {
    color: whitesmoke;
}

.flag-icon {
    min-width: 25px;
    max-width: 25px;
    height: auto;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none;
    color: whitesmoke !important;
}

.navbar-icon {
    width: 24px !important;
    height: 24px !important;
}

.cart,
.home-page,
.product-name,
.nav-link {
    color: black !important;
}

.product-title-summary:hover,
.cart:hover,
.product-title a:hover,
.product-remove:hover,
.dropdown-item:hover,
.home-page:hover,
.product-name:hover,
.nav-link:hover {
    color: #F76B6A !important;
    text-decoration: none !important;
}


.nav-link.active {
    color: #F76B6A !important;
}

.logo-shop {
    min-width: 30px;
    max-width: 30px;
    height: auto;
    border: none !important;
}

.carousel-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: #fff;
}

.carousel-overlay h2,
.carousel-overlay p {
    margin: 0;
}

.trusted-content {}

.trusted-bg-1 {
    background-color: #FCEDDA;
}

.trusted-bg-2 {
    background-color: #F2FBCB;
    ;
}

.trusted-bg-3 {
    background-color: #F7D8F9;
}

.section-heading {
    font-weight: bold;
}

.product:hover .btn-remove-item {
    opacity: 1;
}

.btn-remove-item {
    position: absolute;
    top: 0;
    right: 0;
    align-items: right;
    opacity: 0;
    transition: all 0.3s;
}

.product-overlay {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 1rem 0;
    opacity: 0;
    transition: all 0.3s
}

.product:hover .product-overlay {
    opacity: 1;
}

.product:hover img {
    opacity: 0.3
}

.product:hover .product-overlay {
    opacity: 1
}

.product:hover .product-overlay li {
    opacity: 1;
    transform: none
}


.bg-footer {
    color: whitesmoke;
}

.fa-brands {
    color: whitesmoke;
}

.social-network a {
    color: whitesmoke;
    font-size: 20px;
}

.btn-view-all {

    background-color: #F76B6A !important;
    border: none !important;
}

.slide-container {
    width: 100%;
    /* Set initial width to 100% */
    max-width: 1920px;
    /* Set a maximum width */
    height: auto;
    /* Let the height adjust automatically based on content */
    margin: 0 auto;
    /* Optional: Centers the slide horizontally */
}


.link {
    color: grey;
}

.colection-title,
.number-item {
    display: inline;
    margin: 0;
}



.category-type {
    font-size: 14px;
}

.nav-item:hover {
    cursor: pointer;
}

.colection-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.login-form {
    max-width: 450px;
    max-height: 475px;
}

.register-form {
    max-width: 450px;
    max-height: 700px;
}

.input-qty {
    width: 50px !important;
    text-align: center;
    margin-left: 30px;
    border: #e9ecef solid 1px;
}


.input-qty::-webkit-inner-spin-button,
.input-qty::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.quantity {
    position: relative;
}

.dec-qty {
    position: absolute;
    background-color: white;
    width: 30px;
    border: none;
    border: #e9ecef solid;
    border-width: 1px 0px 1px 1px;
}

.inc-qty {
    position: absolute;
    width: 30px;
    margin-left: 80px;
    background-color: white;
    border: #e9ecef solid;
    border-width: 1px 1px 1px 0;
}



.product-remove {
    margin-left: 32.5px;
    font-size: 11px;
    text-decoration: underline !important;
    color: black;
}

.product-title a {
    font-size: 15px;
    color: black !important;
    font-weight: 500;
}

.product-price,
.product-vendor {
    font-size: 13px;
}


.cart-total-box {
    background-color: #F6F6F9;
}

.table-header-title th {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
}

.cart-item td {
    padding-top: 20px !important;
}

.product-title-summary {
    font-size: 15px;
    color: black !important;
}

.action .btn:hover {
    background-color: #F76B6A !important;
    border: #F76B6A solid 1px;
}

.share-product a {
    color: black;
    font-size: 20px;
    margin-right: 15px;
}

.share-product a:hover {
    color: black !important;
}

.product-available {
    padding: 4px 12px;
    background-color: #00234D;
    color: #fefefe;
    border-radius: 4px;
    font-size: 13px;
}

.review-wrap {
    background-color: #EAEAEA;
}

.modal-dialog-full {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Chỗ này điều chỉnh font label của modal bên chỗ all product do tác độc của file admin lte */
#modal-view-product .product-size label {
    font-weight: normal;
}

#modal-view-product .col-12 {
    padding: 0 15px;
}

.error-subtitle {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 48px;
}

.back-home-page {
    font-size: 14px!important;
    background-color: #00234D!important;
    border: 1px solid #00234D !important;
    border-radius: 4px!important;
    padding: 8px 15px!important;
    font-weight: 500!important;
}

.btn-send-message {
    font-size: 14px!important;
    background-color: #00234D!important;
    border: 1px solid #00234D !important;
    border-radius: 4px!important;
    padding: 8px 30px!important;
}

.contact-item {
    border: 1px solid #00234D;
    border-radius: 4px;
    transition: all 0.3s;
    background-color: transparent;
    padding: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-item:hover {
    background-color: #00234D;
}


.contact-item:hover .contact-title,
.contact-item:hover .contact-info,
.contact-item:hover .contact-icon {
    color: white!important;
}

.contact-icon {
    font-size: 50px;
    margin-right: 20px;
    color: #00234D;
}

.contact-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000;
}

.contact-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.69;
    letter-spacing: 0.5px;
    color: #000;
    opacity: 0.8;
    margin-bottom: 0;
    margin-top: 0px;
    display: block;
}

.btn-edit-customer {
    background-color: #FFAE00!important;
    border: #FFAE00 solid 1px!important;
}

.btn-edit-customer:hover {
    background-color: #00234D!important;
}

#list-card-order .btn-view-detail-order {
    background-color: #00234D!important;
    border: 1px solid #00234D!important;
}

.link-to {
    color: black;
}

.link-to:hover {
    color: #F76B6A!important;
    text-decoration: underline!important;
}